:root{
    --primary-color: #FED001; /*Variável para uso da cor*/
}
html{
    /*font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-weight: 400;*/
    font:400 62.5% "Inter", sans-serif; /*Atalho para todos os valores acima (tamanho, familia e peso)*/
}
p, a{
    font-size: 1.6rem;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.2rem;
}
nav a{
    color: inherit;
}
.upper{
    text-transform: uppercase;
}
.btn{
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;/*A tag a é um elemento de linha por essa razão foi utilizado 
    inline-block para transformar em elemento de bloco*/
    color: inherit;
}
.wrappercontainer{
    padding-top: 1px;
}
.wrappercontainer-dark{
    background-color: #2a2a2a;
    color: #fafafa;
}
.wrappercontainer-fixed{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}
.wrappercontainer-padded{
    padding-top: 10rem;   
}
.wrappercontainer-light{
    background-color: #fafafa;
}
.wrapperContainer-dark2{
    background-color: #003464;
    color: #fafafa;
}
.container{
    max-width: 127.6rem;
    margin: auto;
}
.section_title{
    padding: 3.5rem 0;
    text-align: center;
}
.section_btn{
    margin: 3.5rem 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color); /*Usando a variável definida na root*/
    padding: 1rem 0;/*O primeiro o valor 2rem é na vertical e 0 é na horizontal*/
}
.header_nav a{
    padding: .65em 1.15em; 
    border: solid 1px;
    border-radius: 5px;
}
.header_nav ul{
    display: flex;
    gap: .6rem; /*GAP-> é uma propriedade utilizada para gerar espaçamento entre os elementos*/
}
.header_nav a:hover{
    background-color: white;
}
.heroBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18rem; /*GAP-> é uma propriedade utilizada para gerar espaçamento entre os elementos*/
}
.wrappercontainer-hero{
    background-image: linear-gradient(transparent, yellow);  /*Usando a variável definida na root*/
}
.hero_title{
    margin-bottom: 4rem;/*A tag a é um elemento de linha por essa razão foi utilizado 
    inline-block para transformar em elemento de bloco = Essa margin é da tag h1 para que ela se distancie da tag a*/
}
.cursos{
    text-align: center;
}

.curso_cards{
    border: 1px solid #949494;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.curso_cards img{
    display: block;
    width: 100%;
}
.cursosContainer{
    display: flex;
    text-align: left;
    gap: 2rem;
}
.curso_cards h3{
    font-size: 2rem;
    font-weight: bold;
}
.curso_cards p{
    font-size: 1.6rem;
    line-height: 1.5;
}
.cursos_card_content{
    padding: 1rem 1.25rem;
}
.escola{
    display: flex;
    gap: 7rem;
    align-items: center;
}
.escola_title{
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    font-weight: bold;
}
.escola p {
    line-height: 2.5rem;
    text-align: justify;
}
.contatos_adress{
    padding: 3rem 0;
    text-align: right;
    font: "Inter", sans-serif;
    font-size: 1.5rem;
}
.footer{
    font-size: 1.6rem;
    text-align: center;
    padding: 2rem;
}
.footer a{
    color: #fafafa;
}

